@model HungManhProject.Models.Product

@{
    ViewBag.Title = @Html.DisplayFor(model => model.title) + " – BADNOTGOOD";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<main class="mainContent-theme ">
    <div id="product" class="productDetail-page">
        <div class="breadcrumb-shop">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5  ">
                        <ol class="breadcrumb breadcrumb-arrows" itemscope itemtype="http://schema.org/BreadcrumbList">
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="/" target="_self" itemprop="item"><span itemprop="name">Trang chủ</span></a>
                                <meta itemprop="position" content="1" />
                            </li>



                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="/collections/shop" target="_self" itemprop="item">
                                    <span itemprop="name">ALL SHOP</span>
                                </a>
                                <meta itemprop="position" content="2" />
                            </li>

                            <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <span itemprop="item" content="">
                                    <span itemprop="name">@Html.DisplayFor(model => model.title)</span>
                                </span>
                                <meta itemprop="position" content="3" />
                            </li>

                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-detail-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row product-detail-main pr_style_02">
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <div class="product-gallery">
                                    <div class="product-image-detail box__product-gallery scroll">
                                        <ul id="sliderproduct" class="site-box-content slide_product clearfix">

                                            <li class="product-gallery-item gallery-item">
                                                <img class="product-image-feature" src="@Html.DisplayFor(model => model.img)" alt=" @Html.DisplayFor(model => model.title) ">
                                            </li>

                                            <li class="product-gallery-item gallery-item">
                                                <img class="product-image-feature" src="@Html.DisplayFor(model => model.img_loop)" alt=" @Html.DisplayFor(model => model.title) ">
                                            </li>

                                            <li class="product-gallery-item gallery-item">
                                                <img class="product-image-feature" src="@Html.DisplayFor(model => model.img2)" alt=" @Html.DisplayFor(model => model.title) ">
                                            </li>

                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 product-content-desc" style="position:sticky" id="detail-product">
                                <div class="product-title">
                                    <h1>@Html.DisplayFor(model => model.title)</h1>
                                </div>
                                <div class="product-price" id="price-preview">

                                    <span class="pro-price">@string.Format(format, "{0:c0}", Model.unit_price)</span>

                                </div>

                                <form id="add-item-form" action="/cart/add" method="post" class="variants clearfix">
                                    <div class="select clearfix">
                                        <select id="product-select" name="id" style="display:none;">

                                            <option value="1087411452">Black / M - 99,000₫</option>

                                            <option value="1087411453">Black / L - 99,000₫</option>

                                            <option value="1087411454">Black / XL - 99,000₫</option>

                                        </select>
                                    </div>
                                    <div class="select-swatch clearfix">

                                        <div id="variant-swatch-0" class="swatch clearfix" data-option="option1" data-option-index="0">
                                            <div class="header hide">Màu sắc:</div>

                                            <div class="header"><span></span></div>

                                            <div class="select-swap">

                                                <div data-value="Black" class="n-sd swatch-element color black  ">
                                                    <input class="variant-0" id="swatch-0-black" type="radio" name="option1" value="Black" data-vhandle="black" checked />


                                                    <label class="black" for="swatch-0-black">
                                                        <span>Black</span>
                                                    </label>

                                                </div>

                                            </div>
                                        </div>

                                        <div id="variant-swatch-1" class="swatch clearfix" data-option="option2" data-option-index="1">
                                            <div class="header hide">Kích thước:</div>

                                            <div class="select-swap">

                                                <div data-value="M" class="n-sd swatch-element m  ">
                                                    <input class="variant-1" id="swatch-1-m" type="radio" name="option2" value="M" data-vhandle="m" checked />

                                                    <label for="swatch-1-m">
                                                        <span>M</span>
                                                    </label>

                                                </div>

                                                <div data-value="L" class="n-sd swatch-element l  ">
                                                    <input class="variant-1" id="swatch-1-l" type="radio" name="option2" value="L" data-vhandle="l" />

                                                    <label for="swatch-1-l">
                                                        <span>L</span>
                                                    </label>

                                                </div>

                                                <div data-value="XL" class="n-sd swatch-element xl  ">
                                                    <input class="variant-1" id="swatch-1-xl" type="radio" name="option2" value="XL" data-vhandle="xl" />

                                                    <label for="swatch-1-xl">
                                                        <span>XL</span>
                                                    </label>

                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="selector-actions">

                                        <div class="quantity-area clearfix">
                                            <input type="button" value="-" onclick="minusQuantity()" class="qty-btn">
                                            <input type="text" id="quantity" name="quantity" value="1" min="1" class="quantity-selector">
                                            <input type="button" value="+" onclick="plusQuantity()" class="qty-btn">
                                        </div>

                                        <div class="wrap-addcart clearfix">
                                            <button type="button" id="add-to-cart" class=" add-to-cartProduct button dark btn-addtocart addtocart-modal " name="add">
                                                Thêm vào giỏ
                                            </button>
                                            <button type="button" id="buy-now" class=" add-to-cartProduct button dark btn-addtocart addtocart-modal hidden " name="add">
                                                Mua ngay
                                            </button>
                                        </div>
                                    </div>

                                    <div class="product-action-bottom visible-xs">
                                        <div class="input-bottom">
                                            <input id="quan-input" type="number" value="1" min="1">
                                        </div>
                                        <button type="button" id="add-to-cartbottom" class=" add-to-cartProduct add-cart-bottom button dark addtocart-modal" name="add">
                                            Thêm vào giỏ
                                        </button>
                                    </div>
                                </form>
                                <div class="product-description">
                                    <div class="title-bl">
                                        <h2>Mô tả</h2>
                                    </div>
                                    <div class="description-content">
                                        <div class="description-productdetail">
                                            <p>@Html.DisplayFor(model => model.description)</p>
                                            <p><strong>Chi tiết sản phẩm:</strong></p>
                                            <p>• Chất liệu: @Html.DisplayFor(model => model.chatlieu)</p>
                                            <p>• Kỹ thuật: @Html.DisplayFor(model => model.kithuat)</p>
                                            <p>• Size: @Html.DisplayFor(model => model.size)</p>
                                            <p><strong>Size và cách đo áo:</strong></p>
                                            <p style="text-align: center"><img src="//file.hstatic.net/200000104195/file/untitled-1_b5dedb1a86a74dc2916bbd201b1db2a5.jpg"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
